<a href="https://colab.research.google.com/github/Haseeb227/Hotel-Booking-Analysis/blob/main/Hotel_booking_analysis(Final).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Importing reguired libraries
import numpy as np
import pandas as pd
from numpy import math
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

# Connecting google drive
from google.colab import drive
drive.mount('/content/drive')

# Importing the dataset
dataset = pd.read_csv('/content/drive/MyDrive/Copy of Hotel Bookings.csv')

Mounted at /content/drive

# **Data Inspection**

In [3]:
# First look
dataset.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [7]:
dataset.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [6]:
dataset.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

**DataSet Information:**
 
 hotel : Type of he hotel (Categorical)
 
 is_canceled : whether booking is canceled 0 - not canceled 1-canceled(Categorical)

lead_time : the number of days between the time a guest books their room and the time they are scheduled to arrive at the hotel.(Numerical)

arrival_date_year : year of Arravial (Numerical)

arrival_date_month : month of arravial (Categorical)

arrival_date_week_number : Week of arravail (Numerical)

arrival_date_day_of_month : Arravial day (Nummerical)

stays_in_weekend_nights : no of weekend nights during the stay (Numerical)

stays_in_week_nights : no of night stays in week days (Numerical)

adults : number of adults (Numerical)

children : number of Childeren (Numerical)

babies : number of babies (Numerical)

meal : Type of meal (categorical)

country : Country of customer (Categorical)

market_segment : Means through wich hotel got booking (Categorical)

distribution_channel :  Means through wich hotel got booking (Categorical)

is_repeated_guest : whether the guest is repated 0-not repeated 1 -repeatd (categorical)

previous_cancellations : number of canceletions done by customer previously (categorical)

previous_bookings_not_canceled : number of bookings compeleted without canceletion (Numerical)

reserved_room_type : reserved type of room (Categorical)

assigned_room_type : type of room assigned (Categorical)

booking_changes : canges made to booking (Numerical)

deposit_type : type of deposit (categorical)

agent : ID of agent (Categorical)

company : ID of company (categorical)

days_in_waiting_list : no of days to wait (Numerical)

customer_type : type of customer (Categorical)

required_car_parking_spaces : Number of parking spaces required (Numerical)

total_of_special_requests : special request made by customer (Numberical)

reservation_status : Status of reservation (Categorical)

reservation_status_date : Date of reservation (Date)

adr : average daily rate (Numerical)

# **Data Cleaning**

Data cleaning is an importent part of EDA, in data cleaning we perform operations like

 1) Removing Duplicates

 2) Handling missing values

 3) Handling Features (i.e, Merging similar columns, removing irrelavant columns and correting the data types)

In [ ]:
#creating a copy of data
df = dataset.copy()

**1.Removing Duplicates**

In [ ]:
# Show no. of rows of duplicate rows duplicate rows
df[df.duplicated()].shape

In [ ]:
# Removing duplicate values
df.drop_duplicates(inplace = True)

In [ ]:
#checking for duplicates
df[df.duplicated()].shape

In [ ]:
# number of obeservations after removing duplicates
df.shape

**2.Handling missing values**

In [ ]:
# null value count in each colum
df.isnull().sum().sort_values()

From above we can see that only four columns( children, country, agent and company) have missing values.

In [ ]:
df[['company','agent']] = df[['company','agent']].fillna(0)

Since agent and company are booking mediums for customers there is a chance that customer can book directly without any medium. So we can replace the null values with 0.

In [ ]:
df['country'] = df['country'].fillna('others')

We have 452 null values in country column, so we can fill these with 'others'

In [ ]:
df['children'] = df['children'].fillna(0)

We can replace the null values in childern column with 0, since there is a high chance for customers having zero childern might be missing to fill the column

In [ ]:
#checking all the missing values were removed
df.isnull().sum().sort_values()

There are some rows where adult,children and babies column has 0 in it. We can remove those row for which these three column have 0 as value simultaneously.

In [ ]:
#checking how many rows have adult, childern and babies as 0
df[df['adults']+df['children']+df['babies'] == 0].shape

In [ ]:
# we have 166 rows with 0 values so we can drop these rows
df.drop(df[df['adults']+df['children']+df['babies'] == 0].index,inplace=True)

**3.Features Handling**

In [ ]:
df[['market_segment','distribution_channel']].value_counts()

From above we can see that, even though market_segment and distribution_channel looks similar but there sub categories in each market_segment. So we cannot merge or remove any one of these two columns.

We can create a new colums for total number of night stays by adding stays_in_weekend_nights and stays_in_week_nights as total_night_stays

In [ ]:
#creating new column for total night stays
df['total_night_stays'] = df['stays_in_week_nights']+df['stays_in_weekend_nights']

In [ ]:
# Replacing undined values in market segment as online TA
df['market_segment'] = df['market_segment'].replace(to_replace='Undefined',value='Online TA')

In [ ]:
# creating new column for lead time interms of month
lead_time_months =df['lead_time'] // 30
lead_time_months.value_counts() / len(df)
df['lead_time_month'] = df['lead_time'] // 30

In [ ]:
# creating a new column for cancellation
def cancellation(row):
    if (row['previous_cancellations'] == 0):
        return 0
    else :
        return 1

df['is_previously_cancelled'] = df.apply(cancellation, axis = 1)

In [ ]:
#creating new column for non adults
df['kids'] = df['babies']+df['children']

In [ ]:
#creating new column for total number of people
df['total_people'] = df['babies']+df['children']+df['adults']

In [ ]:
#changing data type from float to integer
df[['children', 'company', 'agent','total_people']] = df[['children', 'company', 'agent','total_people']].astype('int64')

In [ ]:
#changing to date type from string
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'], format = '%Y-%m-%d')

### **Exploratory Data Analysis**

**Univariate Analysis**

In univariate Analysis we try to observe the patterns in each feature of the data through their value counts. Mostly we try to get insights on counts, mean, median, mode etc of that particular feature and compare different values in that feature

In [ ]:
#Let us write a function to plot so that we can avoid repetition of code
def plot(x, y, x_label=None,y_label=None, title=None, figsize=(7,5), type='bar'):
    
    '''
    INPUT parameters:
        x:        Array containing values for x-axis
        y:        Array containing values for y-axis
        x_lable:  String value for x-axis label
        y_lable:  String value for y-axis label
        title:    String value for plot title
        figsize:  tuple value, for figure size (default size is (7,5))
        type:     type of plot (default is bar plot)
        
    OUTPUT:
        Display the plot
    '''
    
    sns.set_style('darkgrid')
    sns.dark_palette("#69d", reverse=True, as_cmap=True)
    
    fig, ax = plt.subplots(figsize=figsize)
    
    if x_label != None:
        ax.set_xlabel(x_label)
    
    if y_label != None:
        ax.set_ylabel(y_label)
        
    if title != None:
        ax.set_title(title)
    
    if type == 'bar':
        sns.barplot(x,y, ax = ax)
    elif type == 'line':
        sns.lineplot(x,y, ax = ax)
        
        
    
    plt.show()

In [ ]:
#is_cancelled analysis
df1=df['is_canceled']
df1=df1.value_counts()
x=df1.index.values
y=df1.values
plot(x,y,x_label='Booking Cancelled (0=Not Canceled, 1=Cancelled)',y_label='count',title='Booking info (Cancelled/Not Cancelled)')

no_of_confirmed_bookigs=df1[0]
no_of_cancelled_bookigs=df1[1]
sum=no_of_confirmed_bookigs+no_of_cancelled_bookigs
print('Not Canceled =' + str(no_of_confirmed_bookigs/sum*100) + ', Cancelled = '+ str(no_of_cancelled_bookigs/sum*100))

In [ ]:
#Hotel
df1=df['hotel']
df1=df1.value_counts()
x=df1.index.values
y=df1.values
plot(x,y,x_label='Type of hotel',y_label='count',title='Hotel')

city_hotel=df1[0]
resort_hotel=df1[1]
sum=city_hotel+resort_hotel
print('city_hotel =' + str(city_hotel/sum*100) + ', resort_hotel = '+ str(resort_hotel/sum*100))

In [ ]:
#Country
df1=df['country']
df1=df1.value_counts()[:10]
x=df1.index.values
y=df1.values
plot(x,y,x_label='Country',y_label='count',title='Country Distribution')

In [ ]:
# market_segment
fig, ax = plt.subplots(ncols=1, figsize=(10, 5))

df.groupby('market_segment').size().plot(kind='pie', autopct='%.2f',ax=ax)
ax.set_ylabel('MarketSegment')
plt.show()

In [ ]:
df['market_segment'].value_counts()

In [ ]:
group_by_dc = df.groupby('market_segment')
d1 = pd.DataFrame(round((group_by_dc.size()/df.shape[0])*100,2)).reset_index().rename(columns = {0: 'Booking_%'})
plt.figure(figsize = (8,8))
data = d1['Booking_%']
labels = d1['market_segment']
myexplode = [0.6,0.6,0,0,0,0,0]
plt.pie(x=data, autopct="%.2f%%",explode=myexplode,labels=labels, pctdistance=0.5)
plt.title("Booking % by Market Segment", fontsize=14);

In [ ]:
#reserved_room_type
df1=df['reserved_room_type']
df1=df1.value_counts()
x=df1.index.values
y=df1.values
plot(x,y,x_label='Reserved Room Type',y_label='count',title='Reserved Room Type')

In [ ]:
#arrival_date_month
df1=df['arrival_date_month']
df1=df1.value_counts()
x=df1.index.values
y=df1.values
plot(x,y,x_label='Month',y_label='count',figsize=(13,8),title='Month')

In [ ]:
#total_people
df1=df['total_people']
df1=df1.value_counts()
x=df1.index.values
y=df1.values
plot(x,y,x_label='Month',y_label='count',figsize=(13,8),title='Total number of people')

In [ ]:
#meal
df1=df['meal']
df1=df1.value_counts()
x=df1.index.values
y=df1.values
plot(x,y,x_label='Month',y_label='count',figsize=(13,8),title='Meal Type')

In [ ]:
#total_night_stays
#meal
df1=df['total_night_stays']
df1=df1.value_counts()
x=df1.index.values
y=df1.values
plot(x,y,x_label='Month',y_label='count',figsize=(13,8),title='Total Stay')

# **Hotel Wise analysis**

In [ ]:
# cancelation %

# Selecting and counting number of cancelled bookings for each hotel.
cancelled_data = df[df['is_canceled'] == 1]
cancel_grp = cancelled_data.groupby('hotel')
D1 = pd.DataFrame(cancel_grp.size()).rename(columns = {0:'total_cancelled_bookings'})

# Counting total number of bookings for each type of hotel
grouped_by_hotel = df.groupby('hotel')
total_booking = grouped_by_hotel.size()
D2 = pd.DataFrame(total_booking).rename(columns = {0: 'total_bookings'})
D3 = pd.concat([D1,D2], axis = 1)

# Calculating cancel percentage 
D3['cancel_%'] = round((D3['total_cancelled_bookings']/D3['total_bookings'])*100,2)
print(D3)

plt.figure(figsize = (10,5))
ax = sns.barplot(x = D3.index, y = D3['cancel_%'])
plt.show()

In [ ]:
# Total night stays
not_canceled = df[df['is_canceled'] == 0]
s1 = not_canceled[not_canceled['total_night_stays'] < 15]
plt.figure(figsize = (10,5))
sns.countplot(x = s1['total_night_stays'], hue = s1['hotel'])
plt.show()

In [ ]:
# Days in waiting list
grouped_by_hotel = df.groupby('hotel')
d5 = pd.DataFrame(grouped_by_hotel['days_in_waiting_list'].agg(np.mean).reset_index().rename(columns = {'days_in_waiting_list':'avg_waiting_period'}))
plt.figure(figsize = (8,5))
sns.barplot(x = d5['hotel'], y = d5['avg_waiting_period'] )
plt.show()

In [ ]:
# AVG ADR
grouped_by_hotel = df.groupby('hotel')
d3 = grouped_by_hotel['adr'].agg(np.mean).reset_index().rename(columns = {'adr':'avg_adr'})   # calculating average adr
print(d3)
plt.figure(figsize = (8,5))
sns.barplot(x = d3['hotel'], y = d3['avg_adr'] )
plt.show()

In [ ]:
# Selecting and counting number of cancelled bookings for each hotel.
cancelled_data = df[df['is_repeated_guest'] == 1]
cancel_grp = cancelled_data.groupby('hotel')
D1 = pd.DataFrame(cancel_grp.size()).rename(columns = {0:'total_repeated_customers'})

# Counting total number of bookings for each type of hotel
grouped_by_hotel = df.groupby('hotel')
total_booking = grouped_by_hotel.size()
D2 = pd.DataFrame(total_booking).rename(columns = {0: 'total_customers'})
D3 = pd.concat([D1,D2], axis = 1)

# Calculating cancel percentage 
D3['return_%'] = round((D3['total_repeated_customers']/D3['total_customers'])*100,2)
print(D3)

plt.figure(figsize = (10,5))
ax = sns.barplot(x = D3.index, y = D3['return_%'])
plt.show()

# **ADR analysis**

In [ ]:
#Month vs Avg adr
df_avg_adr = df.groupby('arrival_date_month', as_index=False)['adr'].mean()
df_avg_adr.head()
df_avg_adr
x=df_avg_adr['arrival_date_month']
y=df_avg_adr['adr']

plot(x,y,x_label='Month',y_label='Avg_ADR',figsize=(13,8),title='Month vs Avg_ADR')

In [ ]:
#Total night stays
df_avg_adr = df.groupby('total_night_stays', as_index=False)['adr'].mean()
df_avg_adr.head()
df_avg_adr
x=df_avg_adr['total_night_stays']
y=df_avg_adr['adr']

plot(x,y,x_label='Total night stays',y_label='Avg_ADR',figsize=(13,8),title='Total night stays vs Avg_ADR')

In [ ]:
#Country VS adr
df1 = df.groupby('country', as_index=False)['adr'].mean()
df1.sort_values(by='adr',inplace=True,ascending=False)
x=df1['country'][:10]
y=df1['adr']
plot(x,y,x_label='Country',y_label='Avg_ADR',figsize=(13,8),title='Country vs Avg_ADR')

In [ ]:
# Total People vs adr
df1 = df.groupby('total_people', as_index=False)['adr'].mean()
df1.sort_values(by='adr',inplace=True,ascending=False)
x=df1['total_people'][:10]
y=df1['adr']
#plot(x,y,x_label='Total People',y_label='Avg_ADR',figsize=(13,8),type='line',title='Total people vs Avg_ADR')
sns.set_style('darkgrid')
fig, ax = plt.subplots(figsize=(10,8))
ax.set_xlabel('Total People')
ax.set_ylabel('Avg_ADR')
sns.lineplot(x,y, ax = ax)
plt.xticks(range(25))
plt.show()

# **Cancellation analysis**

In [ ]:
# Market Segment vs Cancellation %

# Selecting and counting number of cancelled bookings for assigned same room or not
cancelled_data = df[df['is_canceled'] == 1]
cancel_grp = cancelled_data.groupby('market_segment')
D1 = pd.DataFrame(cancel_grp.size()).rename(columns = {0:'total_cancelled_bookings'})

# Counting total number of bookings for each type of hotel
grouped_by_hotel = df.groupby('market_segment')
total_booking = grouped_by_hotel.size()
D2 = pd.DataFrame(total_booking).rename(columns = {0: 'total_bookings'})
D3 = pd.concat([D1,D2], axis = 1)

# Calculating cancel percentage 
D3['cancel_%'] = round((D3['total_cancelled_bookings']/D3['total_bookings'])*100,2)
print(D3)

plt.figure(figsize = (10,5))
ax = sns.barplot(x = D3.index, y = D3['cancel_%'])
plt.show()

In [ ]:
# Lead Time vs Cancellation

# Selecting and counting number of cancelled bookings for assigned same room or not
cancelled_data = df[df['is_canceled'] == 1]
cancel_grp = cancelled_data.groupby('lead_time_month')
D1 = pd.DataFrame(cancel_grp.size()).rename(columns = {0:'total_cancelled_bookings'})

# Counting total number of bookings for each type of hotel
grouped_by_hotel = df.groupby('lead_time_month')
total_booking = grouped_by_hotel.size()
D2 = pd.DataFrame(total_booking).rename(columns = {0: 'total_bookings'})
D3 = pd.concat([D1,D2], axis = 1)

# Calculating cancel percentage 
D3['cancel_%'] = round((D3['total_cancelled_bookings']/D3['total_bookings'])*100,2)
print(D3)

plt.figure(figsize = (10,5))
ax = sns.barplot(x = D3.index, y = D3['cancel_%'])
plt.show()

In [ ]:
#Deposit type vs cancellation %
# Selecting and counting number of cancelled bookings for assigned same room or not
cancelled_data = df[df['is_canceled'] == 1]
cancel_grp = cancelled_data.groupby('deposit_type')
D1 = pd.DataFrame(cancel_grp.size()).rename(columns = {0:'total_cancelled_bookings'})

# Counting total number of bookings for each type of hotel
grouped_by_hotel = df.groupby('deposit_type')
total_booking = grouped_by_hotel.size()
D2 = pd.DataFrame(total_booking).rename(columns = {0: 'total_bookings'})
D3 = pd.concat([D1,D2], axis = 1)

# Calculating cancel percentage 
D3['cancel_%'] = round((D3['total_cancelled_bookings']/D3['total_bookings'])*100,2)
print(D3)

plt.figure(figsize = (10,5))
ax = sns.barplot(x = D3.index, y = D3['cancel_%'])
plt.show()

In [ ]:
# Previously cancelled vs Cancellation %
# Selecting and counting number of cancelled bookings for assigned same room or not
cancelled_data = df[df['is_canceled'] == 1]
cancel_grp = cancelled_data.groupby('is_previously_cancelled')
D1 = pd.DataFrame(cancel_grp.size()).rename(columns = {0:'total_cancelled_bookings'})

# Counting total number of bookings for each type of hotel
grouped_by_hotel = df.groupby('is_previously_cancelled')
total_booking = grouped_by_hotel.size()
D2 = pd.DataFrame(total_booking).rename(columns = {0: 'total_bookings'})
D3 = pd.concat([D1,D2], axis = 1)

# Calculating cancel percentage 
D3['cancel_%'] = round((D3['total_cancelled_bookings']/D3['total_bookings'])*100,2)
print(D3)

plt.figure(figsize = (10,5))
ax = sns.barplot(x = D3.index, y = D3['cancel_%'])
plt.show()

In [ ]:
# Repeated Guest vs Cancellation %
# Selecting and counting number of cancelled bookings for assigned same room or not
cancelled_data = df[df['is_canceled'] == 1]
cancel_grp = cancelled_data.groupby('is_repeated_guest')
D1 = pd.DataFrame(cancel_grp.size()).rename(columns = {0:'total_cancelled_bookings'})

# Counting total number of bookings for each type of hotel
grouped_by_hotel = df.groupby('is_repeated_guest')
total_booking = grouped_by_hotel.size()
D2 = pd.DataFrame(total_booking).rename(columns = {0: 'total_bookings'})
D3 = pd.concat([D1,D2], axis = 1)

# Calculating cancel percentage 
D3['cancel_%'] = round((D3['total_cancelled_bookings']/D3['total_bookings'])*100,2)
print(D3)

plt.figure(figsize = (10,5))
ax = sns.barplot(x = D3.index, y = D3['cancel_%'])
plt.show()

# **Conclusiton**



*   City hotel has higgest number of bookings
*   BB is most prefered meal